.hero-bg{
    background-image: url("../../Assets/landing/home-hero.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}

.home-hero-wave{
    position: absolute;
    /* bottom: -50px; */
    /* width: 750px; */
    bottom: 0;
    
    width: 100%;
    /* border: 2px solid red; */
}

.hero-text-div{
    padding-top: 150px;
}

.hero-heading-color{
    color : #FFCD25;   

}


.paralax-img{
    margin: 90px 0px;
    background-image: url(../../Assets/landing/paralax.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 560px;

    display: flex;
    justify-content: center;
    align-items: center;



}


.paralax-inner-div{
    text-align: center;
    color: white;
    padding: 10px;

}

.paralax-inner-div p{
    
    color: #FFCD25;
     font-size: 18px;
   
}

.paralax-inner-div h3{
    
     font-size: 39px ;
   
}


/* hospitality css starts */
.hopitality-black-bg{
     
    margin: 70px 0px;
    margin-top: 149px;
    border-radius: 30px;
    color: white;
    padding: 70px;
    display: flex;
    justify-content: start;
    align-items: start;

    position: relative;
}

.hopitality-black-bg p{
    width: 70%;
    color: #FFCD25;
}

.hospitality-img{
    position: absolute;
    top: -140px;
    right: 20px;
    height: 21rem;
}


@media screen and (max-width: 1201px) {

    .hospitality-img{
        display: none;
    }

    .hopitality-black-bg{
     
        margin: 50px 0px;
        margin-top: 69px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px;
        position: relative;
    }

    .hospitality-main-div{
        padding: 0px 25px;
    }
    
}