.navbar_custom{
    width:100%;
    height:6rem;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 3;
    background:linear-gradient(90deg,#070707  0%, #282820 100%);
  
}


.shadow_bottom{
    background-color: #f5f5f5;
    /* justify-content: center; */
    box-shadow: 0 .2rem 0 rgba(0,0,0,.15);
   
  } 
  .alignLeft{
    position:relative;
    left:20px;
 }
 .alignRight{
     position:absolute;
     right:20px;
 }

 .companyname{
    position:relative;
    top:20px;
}
.botton_pos{
  bottom:1rem;
}


.nav_link{
    text-decoration: none;
    color: #FFCD25;
    position:absolute;
    top:10px;
    margin:2rem;
    font-size:20px;
 
}
.link4{
    right:34rem;
    margin:20px;
}

.link3{
    right:10rem;
    margin:20px;
}

.link2{
    right:19rem;
    margin:20px;
}

.link1{
    right:25rem;
    margin:20px;
}
.link5{
    right:41rem;
    margin:20px;
}

@media(max-width:1125px){
.nav_link{
    text-decoration: none;
    
    color:rgb(6, 6, 46);
    position:relative;
    margin:1rem;
    font-size:25px;
 }
} 

.list_st{
    list-style-type: none ;
}
.Link_dec{
    text-decoration: None;
    color:rgb(3, 3, 28);
    Font-size:25px;
}
.Link_dec:hover{
    text-decoration: underline;
}

.Logo{
height:5rem;
width:7rem;
}

.button-back{
    position: absolute;
    right:10px;
}