/*   color code*/
*{
  font-family: 'Poppins', sans-serif;
}
.background_clr{
    background: linear-gradient(90deg,#080808  0%, #000000 100%);
    color: #FFCD25 !important;
}
.white{
    color:white;
  }
  .alignCentre{
    text-align: center;
  }

  .background-shadow-3d{
    border-radius: 37px;
     box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.32);
     background-color: #ffffff;
}
.btnCentre{
 text-align: center;
}

    .heading{
      font-size: 1.5rem;
    }

  .description{
    color:#545454;
    font-size: 1.1rem;
  }

  .subheading{
    font-family: 'Poppins', sans-serif;
    color:#545454;
    font-size: 1.1rem;
    font-weight:700;
  }
  .border-radius{
    border-radius: 30px;
  }

  /* pop up control */

.popup{
    position:fixed;
    z-index: 3;
    margin-left: 20%;
   
}
@media(max-width:700px){
    .popup{
        margin-left: 0%;
    }
}

.position_style_card{
 
  
 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.img-control{
  border-radius: 30px;
  height:34rem;
  object-fit: cover;
}


/* @media(max-width:767px){
  .position_confirm_card{
 
  }
} */

.gold{
  color:#FFCD25;
}